# ##########################################
# ENVIRONMENT VARIABLES
# ##########################################

# MongoDB
MONGO_DB_URI=<<MONGO_DB_URI>>

# Logging
APP_LOG_LEVEL=debug
APP_LOG_IMPLEMENTATION=WINSTON_FLAT